In [7]:
#bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#carregamento inicial dos dados
df = pd.read_csv("../data/raw/scRNA-seq.csv", encoding='latin-1')

In [9]:
#visualização inicial
df.head()

,Cell_ID,Cell_Type,Disease_Status,Gene_E_Housekeeping,Gene_A_Oncogene,Gene_B_Immune,Gene_C_Stromal,Gene_D_Therapy,Pathway_Score_Inflam,UMAP_1
0,C0001,T_Cell,Tumor,5.565866,4.546474,10.532535,2.113285,0.951138,9.580415,7.818137
1,C0002,T_Cell,Tumor,5.351163,3.840752,10.642705,4.361618,0.952454,10.540695,8.298277
2,C0003,T_Cell,Tumor,4.935363,2.271616,10.389736,2.839926,1.906194,8.416975,7.158779
3,C0004,Cancer,Tumor,4.095084,14.881377,3.268237,3.204284,9.922546,7.357785,0.016234
4,C0005,Fibroblast,Tumor,4.669715,5.444694,2.561298,14.046708,3.126553,3.372407,11.646391

In [10]:
# info gerais 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Cell_ID               3000 non-null   object
 1   Cell_Type             3000 non-null   object
 2   Disease_Status        3000 non-null   object
 3   Gene_E_Housekeeping   3000 non-null   float64
 4   Gene_A_Oncogene       3000 non-null   float64
 5   Gene_B_Immune         3000 non-null   float64
 6   Gene_C_Stromal        3000 non-null   float64
 7   Gene_D_Therapy        3000 non-null   float64
 8   Pathway_Score_Inflam  3000 non-null   float64
 9   UMAP_1                3000 non-null   float64
dtypes: float64(7), object(3)
memory usage: 234.5+ KB

In [11]:
#valores ausentes
df.isnull().sum()

Cell_ID                 0
Cell_Type               0
Disease_Status          0
Gene_E_Housekeeping     0
Gene_A_Oncogene         0
Gene_B_Immune           0
Gene_C_Stromal          0
Gene_D_Therapy          0
Pathway_Score_Inflam    0
UMAP_1                  0
dtype: int64

In [12]:
#features/colunas
df.columns

Index(['Cell_ID', 'Cell_Type', 'Disease_Status', 'Gene_E_Housekeeping',
       'Gene_A_Oncogene', 'Gene_B_Immune', 'Gene_C_Stromal', 'Gene_D_Therapy',
       'Pathway_Score_Inflam', 'UMAP_1'],
      dtype='object')

In [13]:
df.describe(include='all')

,Cell_ID,Cell_Type,Disease_Status,Gene_E_Housekeeping,Gene_A_Oncogene,Gene_B_Immune,Gene_C_Stromal,Gene_D_Therapy,Pathway_Score_Inflam,UMAP_1
count,3000,3000,3000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
unique,3000,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,C0001,T_Cell,Tumor,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1000,2595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,5.002702,7.319094,5.982890,6.852504,4.952360,7.043063,6.516869
std,NaN,NaN,NaN,0.495695,4.959009,4.383173,4.861748,3.692807,3.424917,3.970911
min,NaN,NaN,NaN,3.436678,1.087581,1.015551,1.176086,0.500000,1.000000,-0.799966
25%,NaN,NaN,NaN,4.658408,3.286695,2.525109,3.011726,2.004656,4.276713,1.990183
50%,NaN,NaN,NaN,4.979579,4.773690,3.517219,4.144346,3.143158,6.732012,7.010630
75%,NaN,NaN,NaN,5.326971,12.947793,11.269680,12.645769,9.255951,9.795390,10.563544
max,NaN,NaN,NaN,7.165827,21.508750,16.901272,19.199503,15.083534,17.994128,13.756952